$text-color: #10130fcb;
ion-card {
  --background: #a4d883e8;
}
ion-card-subtitle {
  color: $text-color !important;
}

ion-card-content {
  background-color: #aaf76bba;
  color: $text-color !important;
  font-family: Verdana !important;
}
